<style type="text/css">
ul{
	background-color:red;
	width: 500px;
	margin:auto;
		
}
.active{
	background-color:blue;
}

</style>
<h1>Fair Use Calculator</h1>
<%= form_for @test_answer, :url => {:controller => 'TestAnswers', :action => 'create'} do |f|%>
	<ul>
		<h3><%=@questions[0].content%></h3>
		<% @questions[0].answers.each do |answer| %>
			<li> 
				<%= f.radio_button :purpose_id, answer.id %> 
				<%= f.label "purpose_id_" + answer.id.to_s, answer.content %>  	
    		</li>
		<%end%>
	</ul>
	<ul>
		<h3><%=@questions[1].content%></h3>
		<% @questions[1].answers.each do |answer| %>
			<li> 
				<%= f.radio_button :character_id, answer.id %> 
				<%= f.label "character_id_" + answer.id.to_s, answer.content %>  	
    		</li>
		<%end%>
	</ul>
	<ul>
		<h3><%=@questions[2].content%></h3>
		<% @questions[2].answers.each do |answer| %>
			<li> 
				<%= f.radio_button :use_id, answer.id %> 
				<%= f.label "use_id_" + answer.id.to_s, answer.content %>  	
    		</li>
		<%end%>
	</ul>
	<ul>
		<h3><%=@questions[3].content%></h3>
		<% @questions[3].answers.each do |answer| %>
			<li> 
				<%= f.radio_button :nature_id, answer.id %> 
				<%= f.label "nature_id_" + answer.id.to_s, answer.content %>  	
    		</li>
		<%end%>
	</ul>
	<ul>
		<h3><%=@questions[4].content%></h3>
		<% @questions[4].answers.each do |answer| %>
			<li> 
				<%= f.radio_button :amount_id, answer.id %> 
				<%= f.label "amount_id_" + answer.id.to_s, answer.content %>  	
    		</li>
		<%end%>
	</ul>
	<ul>
		<h3><%=@questions[5].content%></h3>
		<% @questions[5].answers.each do |answer| %>
			<li> 
				<%= f.radio_button :impact_id, answer.id %> 
				<%= f.label "impact_id_" + answer.id.to_s, answer.content %>  	
    		</li>
		<%end%>
	</ul>
	<%= f.submit "Finish" %>
<%end%>		