<style type="text/css">
ul{
	background-color:red;
	width: 500px;
	margin:auto;
	display:none;
		
}
.active{
	display:block;
}

</style>
<h1>Fair Use Calculator</h1>
<% @questions.each do |question| %>
	<ul>
		<%= form_for @selected_answer, :url => { :controller => "selected_answers" ,:action => "create" }, :remote => true do |f|%>
			<h3><%=question.content%></h3>
			<% question.answers.each do |answer| %>
				<li> 
					<%= f.radio_button :answer_id, answer.id %> 
					<%= f.label "answer_id_" + answer.id.to_s, answer.content %>
					<%= f.hidden_field :test_id, :value => Test.last.id %>  	
		    	</li>
			<%end%>
			<% if params[:id].to_i != 6 %>
				<%= f.submit "Next" %>
			<%else%>
				<%= f.submit "Finish" %>
			<%end%>
		<%end%>	
	</ul>
<%end%>