<div class="desk" style="background:url(<%= asset_path("#{@current_role.name.downcase}_desk.png") %>);">
	<a href="<%=wfu_path%>"><div>What is Fair Use?</div></a>
	<a href="<%=legal_cases_path%>"><div>Cases</div></a>
	<a href="<%=%>"><div>Scenarios</div></a>
	<a href="<%=calculator_path%>" id="calculator"><div>
		<i class="icon-lock"></i> Calculator
		<p>Complete the other sections to unlock the calculator!</p>
	</div></a>
</div>
<style type="text/css" media="screen">
	.desk{
		
	}
</style>
