<div class= "home">
	<h1>use it right!</h1>
	<div class="bak">
		<div class="roles">
			<h3>check your knowledge on fair use!!!</h3>
			<ul >
				<li>
					<h2>choose a role</h2>
					<a href="">START OVER</a>
				</li>
				<li>
					<a href="">
						<%= image_tag "writer.png"%>
						<h4>Writer</h4>
					</a>
				</li>
				<li>
					<a href="">
						<%= image_tag "filmmaker.png"%>
						<h4>Photo Filmmaker</h4>
					</a>
				</li>
				<li>
					<a href="">
						<%= image_tag "artist.png"%>
						<h4>Artist</h4>
					</a>
				</li>
				<li>
					<a href="">
						<%= image_tag "dj.png"%>
						<h4>DJ</h4>
					</a>
				</li>
				<li>
					<a href="">
						<%= image_tag "detective.png"%>
						<h4>Detective</h4>	
					</a>
				</li>
			</ul>	
		</div>
		<div class="video">
			<%= image_tag "video.jpg"%>		
		</div>
	</div>	
</div>


