<%= form_for @test_answer do |f|%>
	<ul class= "question-box active">
		<h3><%=@questions[0].content%></h3>
		<div class="row">
			<% @questions[0].answers.each do |answer| %>			
					<li class="answer span3"> 						
		   				<label>
		   					<%= f.radio_button :purpose_id, answer.id %> 
		   					<span><%=answer.content%></span>
		   				</label>    
	    			</li>
	    		
			<%end%>
		</div>
		<button class= "btn" name="next" type="button">Next</button>
	</ul>
	<ul class= "question-box">
		<h3><%=@questions[1].content%></h3>
			<div class="row">
			<% @questions[1].answers.each do |answer| %>			
					<li class="answer span3"> 						
		   				<label>
		   					<%= f.radio_button :character_id, answer.id %> 
		   					<span><%=answer.content%></span>
		   				</label>    
	    			</li>
	    		
			<%end%>
		</div>
		<button class= "btn" name="next" type="button">Next</button>
		<button class= "btn" name="back" type="button">Back</button>
	</ul>
	<ul class= "question-box">
		<h3><%=@questions[2].content%></h3>
			<div class="row">
			<% @questions[2].answers.each do |answer| %>			
					<li class="answer span3"> 						
		   				<label>
		   					<%= f.radio_button :use_id, answer.id %> 
		   					<span><%=answer.content%></span>
		   				</label>    
	    			</li>
	    		
			<%end%>
		</div>
		<button class= "btn" name="next" type="button">Next</button>
		<button class= "btn" name="back" type="button">Back</button>
	</ul>
	<ul class= "question-box">
		<h3><%=@questions[3].content%></h3>
			<div class="row">
			<% @questions[3].answers.each do |answer| %>			
					<li class="answer span3"> 						
		   				<label>
		   					<%= f.radio_button :nature_id, answer.id %> 
		   					<span><%=answer.content%></span>
		   				</label>    
	    			</li>
	    		
			<%end%>
		</div>
		<button class= "btn" name="next" type="button">Next</button>
		<button class= "btn" name="back" type="button">Back</button>
	</ul>
	<ul class= "question-box">
		<h3><%=@questions[4].content%></h3>
			<div class="row">
			<% @questions[4].answers.each do |answer| %>			
					<li class="answer span3"> 						
		   				<label>
		   					<%= f.radio_button :amount_id, answer.id %> 
		   					<span><%=answer.content%></span>
		   				</label>    
	    			</li>
	    		
			<%end%>
		</div>
		<button class= "btn" name="next" type="button">Next</button>
		<button class= "btn" name="back" type="button">Back</button>
	</ul>
	<ul class= "question-box">
		<h3><%=@questions[5].content%></h3>
			<div class="row">
			<% @questions[5].answers.each do |answer| %>			
					<li class="answer span3"> 						
		   				<label>
		   					<%= f.radio_button :impact_id, answer.id %> 
		   					<span><%=answer.content%></span>
		   				</label>    
	    			</li>
	    		
			<%end%>
		</div>
		<%unless @case == nil %>
			<%= hidden_field_tag :case_id, @case.id.nil? ? case_id : @case.id %>
		<%end%>
		<%= f.submit "Finish", :class => "btn" %>
		<button class= "btn" name="back" type="button">Back</button>
	</ul>
<%end%>		