<%= form_for @test_answer do |f|%>
	<%@questions.each do |question|%>
		<ul class= "question-box active">
			<h3><%=question.content%></h3>
			<div class="row">
				<% question.answers.each do |answer| %>			
						<li class="answer span3"> 						
			   				<label>
			   					<%= f.radio_button question.flag+"_id", answer.id %> 
			   					<span><%=answer.content%></span>
			   				</label>    
		    			</li>
		    		
				<%end%>
			</div>
			<%if question.id != 6 &&  question.id != 1%>
				<button class= "btn" name="next" type="button">Next</button>
				<button class= "btn" name="back" type="button">Back</button>
			<%elsif question.id == 1%>
				<button class= "btn" name="next" type="button">Next</button>
			<%else%>
				<%unless @case == nil %>
					<%= hidden_field_tag :case_id, @case.id.nil? ? case_id : @case.id %>
				<%end%>
				<%= f.submit "Finish", :class => "btn" %>
				<button class= "btn" name="back" type="button">Back</button>
			<%end%>
		</ul>
	<%end%>
<%end%>		