<%= form_for @test_answer, :remote => ((params[:controller] == "calculators")? true : false)  do |f|%>
<div class="span8">
	<%@questions.each do |question|%>
		<div class= "question-box">
			<h3>
				<%=question.content%>
				<%if question.hint%>
					<a href="#" class="info" rel="tooltip" data-original-title="<%=question.hint%>">
						<i class="icon-info-sign"></i>
					</a> 
				<%end%>
			</h3>
				<% question.answers.order('id').each do |answer| %>			
						<div class="answer"> 						
			   				<label>
			   					<%= f.radio_button question.flag+"_id", answer.id %> 
			   					<span>
			   						<%=answer.content%>
			   						<%if answer.hint%>
				   						<a href="#" class="info" rel="tooltip" data-original-title="<%=answer.hint%>">
											<i class="icon-info-sign"></i>
										</a>
									<%end%>
			   					</span>
			   				</label>    
		    			</div>
		    		
				<%end%>
			</br>
			<%if question.id != 6 &&  question.id != 1%>
				<button class= "btn" name="next" type="button">Next</button>
				<button class= "btn" name="back" type="button">Back</button>
			<%elsif question.id == 1%>
				<button class= "btn" name="next" type="button">Next</button>
			<%else%>
				<button class= "btn" name="back" type="button">Back</button>
			<%end%>
		</div>
	<%end%>
</div>
<div class="span4">	
	<%= render 'test_answers/scoreboard'%>
		<%= f.submit 'Calculate', :class => "btn-large",:id=> 'submit', :disabled=> true%>
<%end%>
</div>