<div class= "test-case">
	<div class="row">
		<div class="span4">
			<h1><%=@legal_case.title%> Case</h1>
			<%= image_tag @legal_case.original_resource.url %> vs 
			<%= image_tag @legal_case.derivative_resource.url %>
			<p class="pull-left">Original</p>
			<p class="pull-right">Derivative</p>
			<h2>Facts</h2>
			<%@facts.each do |fact|%>
				<p><%=fact%></p>
			<%end%>
		</div>
		<div class="span8">	
			<%= render 'test_answers/form' %>
			<%= render 'test_answers/scoreboard'%>
		</div>
	</div>
</div>
<script type="text/javascript">
$(".test-case").find(".btn-large").attr("value","Compare your Answer with Judges");
</script>