<style type="text/css">
	body{
		background-color: #db0017;
	}
</style>
<div class="test-case">
	<h1>Real Cases</h1>
	<p>
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
	</p>
	<div class="test-case-wrapper">
		<section id="case-resources">
			<%= image_tag @legal_case.original_resource.url %>
			<h4>VS</h4>
			<%= image_tag @legal_case.derivative_resource.url %>
		</section>
		<section id="case-details">
			<h4><%=@legal_case.title%></h4>
			<p><%=@legal_case.facts%></p>
		</section>
		<%= form_for @test_answer do |f|%>
			<section class="tabs-left">
				<ul class="nav nav-tabs" id="aspects">
					<li class="active">
						<a href="#purpose">
							<span>1</span>
							PURPOSE
							<div name="test_answer[purpose_id]"></div>
						</a>
					</li>
					<li>
						<a href="#character">
							<span>2</span>
							CHARACTER
							<div name="test_answer[character_id]"></div>
						</a>
					</li>
					<li>
						<a href="#use">
							<span>3</span>
							USE
							<div name="test_answer[use_id]"></div>
						</a>
					</li>
					<li>
						<a href="#nature">
							<span>4</span>
							NATURE
							<div name="test_answer[nature_id]"></div>
						</a>
					</li>
					<li>
						<a href="#amount">
							<span>5</span>
							AMOUNT
							<div name="test_answer[amount_id]"></div>
						</a>
					</li>
					<li>
						<a href="#financial">
							<span>6</span>
							FINANCIAL
							<div name="test_answer[financial_id]"></div>
						</a>
					</li>
					<li id="help">
						<ul>
							<li><%=image_tag "fu.png"%><h6>Fair Use</h6></li>
							<li><%=image_tag "nfu.png"%><h6>Not Fair Use</h6></li>
							<li><%=image_tag "un.png"%><h6>Undecided</h6></li>
						</ul>
					</li>
				</ul>
				<div class="tab-content">
					<%@questions.each do |question|%>
						<div class="tab-pane" id="<%=question.flag%>">
							<h5>
								<%=question.content%>?
								<%if question.hint%>
									<a href="#" class="info" rel="tooltip" data-original-title="<%=question.hint%>">
										<i class="icon-info-sign"></i>
									</a> 
								<%end%>
							</h5>
							<% question.answers.order('id').each do |answer| %>	
								<div class="answer">		
			   						<%=f.radio_button question.flag+"_id", answer.id %> 
			   						<%=f.label answer.content%>
			   						<%if answer.hint%>
				   						<a href="#" class="info" rel="tooltip" data-original-title="<%=answer.hint%>">
											<i class="icon-info-sign"></i>
										</a>
									<%end%>
								</div>	
							<%end%>					
						</div>	
					<%end%>
					<%= hidden_field_tag :legal_case_id, @legal_case.id%>
				</div><!--tab-content-->
				<div class="case-result">
					<h2>YOUR JUDGEMENT</h2>
					<ul class="judgement-panel nav">
						<li><%=image_tag "fu.png"%><sub>X</sub><h3>4</h3></li>
						<li><%=image_tag "nfu.png"%><sub>X</sub><h3>3</h3></li>
						<li><%=image_tag "un.png"%><sub>X</sub><h3>2</h3></li>
					</ul>
					<%= f.submit "Compare Result with Judges", :class => "btn",:id=> 'submit', :disabled=> true%>	
				</div>
			</section><!--tabs-left-->
		<%end%>	
	</div><!--test-case-wrapper-->
</div><!--test-case-->
<script type="text/javascript">
	$(".test-case").find(".btn-large").attr("value","Compare your Answer with Judges");

	$('.tab-content').find('.tab-pane').eq(0).addClass('active');
	$('#aspects a').click(function (e) {
		e.preventDefault();	
		$(this).tab('show');
	});



	$(".info").tooltip();



	/*To Disable Submit button until finishing all questions*/
    $('input:radio').change(function(){
        var names = [];
        var allChecked = true;
        $('input:radio').each(function(){
            if(names.indexOf($(this).attr('name')) === -1) {
                names.push($(this).attr('name'));
            }
        });
        for(var i = 0, cnt = names.length; i < cnt; i++) {
            if(!$('input[name="' + names[i] + '"]').is(':checked')) {
                allChecked = false;
            }
        }
        if(allChecked) {
            $('#submit').removeAttr('disabled').addClass('btn-warning');
        }
    });



    $('input[type=radio]').click(function(){

		/*To light the corresponded lamp*/
		$this = $(this);
		var fair = ["1","2","3","4","5","6","7","10","11","12","14","21","23"];
		var notfair = ["9","13","17","18","19","20","22"];
		var name = $this.attr('name');
		var value = $this.val();
		var lamp = $('div[name*="'+name+'"]');
		if (($.inArray(value, fair)) != -1) 
		{
			lamp.css('background','url(<%= asset_path("fu.png") %>)').css('border','none');
		}
		else if (($.inArray(value, notfair)) != -1)
		{
			lamp.css('background','url(<%= asset_path("nfu.png") %>)').css('border','none');
		}
		else {
			lamp.css('background','url(<%= asset_path("un.png") %>)').css('border','none');
		}
	});

</script>