<div class="case-answer">
	<h1>Congratulations!</h1>
	<h3>You are almost a judge</h3>

	<h3>You got</h3> 
	<h2 class="<%=@case_answer.test_answer.get_result.split(" ")[0]%>"><%=@case_answer.test_answer.get_result%></h2>

	<h3>and The Court Decision was</h3>
	<h2 class="<%=@legal_case.court_decision.get_result.split(" ")[0]%>"><%=@legal_case.court_decision.get_result%></h2>
	<h2>The Report</h2>
	<table class="table">
		<tr>
			<td class="high"><h4>Aspect</h4></td>
			<td class="high"><h4>You</h4></td>
			<td class="high"><h4>Judge Report</h4></td>
		</tr>
		<%for i in 0..5 %>
			<tr>
				<td class="high">
					<p><h4><%=@questions[i].flag.capitalize%></h4></p>
				</td>
				
				<td>
					<p><%=@answers_of_case[i].content%></p>
				</td>
				
				<td>
					<strong><%=@court_answers_report[i][:answer]%></strong>
					<p><%=@court_answers_report[i][:court_details]%></p>
				</td>
			</tr>
		<%end%>
	</table>		
	<%= link_to "Test More Legal Cases?", legal_cases_path %>
</div>
