<style type="text/css">
	body{
		background-color: #db0017;
	}
</style>
<div class="test-case">
	<h1>Real Cases</h1>
	<div class="test-case-wrapper">
		<section id="case-resources">
			<%= image_tag @legal_case.original_resource.url %>
			<h4>VS</h4>
			<%= image_tag @legal_case.derivative_resource.url %>
		</section>
		<section id="case-details">
			<h4><%=@legal_case.title%></h4>
			<p><%=@legal_case.facts%></p>
		</section>
		<div class="case-result">
			<section id="final">
				<h4>Final</br> Result</h4>
			</section>
			<section id="main-panel">
				<h1 class="<%=@legal_case.court_decision.get_result.split(" ")[0]%>"><%=@legal_case.court_decision.get_result%></h1>
				<h4>Congratulation!<h4> 
				<h5>you made  almost the same decision as the real judges did</h5>
				<div id="judge-panels">
					<div>
						<h2>YOU</h2>
						<ul class="judgement-panel nav">
							<li><%=image_tag "fu.png"%><sub>X</sub><h3>4</h3></li>
							<li><%=image_tag "nfu.png"%><sub>X</sub><h3>2</h3></li>
							<li><%=image_tag "un.png"%><sub>X</sub><h3>5</h3></li>
						</ul>
					</div>
					<div>
						<h2>THE JUDGES</h2>
						<ul class="judgement-panel nav">
							<li><%=image_tag "fu.png"%><sub>X</sub><h3>4</h3></li>
							<li><%=image_tag "nfu.png"%><sub>X</sub><h3>5</h3></li>
							<li><%=image_tag "un.png"%><sub>X</sub><h3>1</h3></li>
						</ul>
					</div>	
				</div>
			</section>

		</div>
	</div><!--test-case-wrapper-->
</div><!--test-case-->