<%= form_for @case, :html => { :multipart => true } do |f| %>
	<% if @case.errors.any? %>
	    <ul class="errors">
	        <% for message in @case.errors.full_messages %>
	        <li><%= message %></li>
	        <% end %>
	    </ul>
	<% end %>
	<table>
		<tbody>
			<tr>
				<td>Title</td>
				<td><%= f.text_field :title, :class => "input-xlarge" %></td>
			</tr>
			<tr>
				<td>Facts</td>
				<td><%= f.text_area :facts, :class => "input-xlarge" %></td>
			</tr>
			<tr>
				<td>Original Copy</td>
				<td><%= file_field_tag :original%></td>
			</tr>
			<tr>
				<td>Derivative Copy</td>
				<td><%= file_field_tag :derivative%></td>
			</tr>
		</tbody>		
	</table>
	<td><%= f.submit "Next", :class => "btn"%></td>
<% end %>

	