<a href="<%=role_legal_case_path(@current_role.name.gsub(" ","_"),legal_case.title.gsub(" ","_"))%>" class="case">
	<h3><%=legal_case.title%></h3>
	<%= image_tag legal_case.original_resource.url %> <h4>vs</h4>
	<%= image_tag legal_case.derivative_resource.url %>
	<p><%=legal_case.facts.split('.')[0]%></p>
</a>