<div class="show-case">
	<h1><%=@legal_case.title%> Case</h1>
	<%= image_tag @legal_case.original_resource.source.url %> vs
	<%= image_tag @legal_case.derivative_resource.source.url %>
	<h2>Description:</h2>
	<p><%=@legal_case.facts%></p>

 <%= link_to "Test This Case", new_legal_case_case_answer_path(@legal_case.title), :class => "btn btn-warning" %>
</br>
 <%= link_to "Edit", edit_legal_case_path(@legal_case.title) %>
 <%= link_to 'Destroy', @legal_case, :confirm => 'Are you sure?', :method => :delete%>
</div>