<div class="show-case">
	<h2><%=@legal_case.title%></h2>
	<%= image_tag @legal_case.original_resource.url %> <h4>vs</h4>
	<%= image_tag @legal_case.derivative_resource.url %>
	<h3>Overview</h3>
	<p><%=@legal_case.facts.split('.')[0]%></p>

 <%= link_to "LET'S GO", new_legal_case_case_answer_path(@legal_case.title)%>
</div>