<div class="desk" style="background:url(<%= asset_path("#{@current_role.name.split(" ")[0].downcase}_desk.png") %>);">
	<a href="<%=role_wfu_path(@current_role.name.gsub(" ","_"))%>"><div>What is Fair Use?</div></a>
	<a href="<%=role_legal_cases_path(@current_role.name.gsub(" ","_"))%>"><div>Cases</div></a>
	<a href="<%=%>"><div>Scenarios</div></a>
	<a id="calculator" class="locked">
		<div>
			<i class="icon-lock"></i> Calculator
			<p>Complete the other sections to unlock the calculator!</p>
			<h6>You finished <%=@current_visitor.progress%> of 2 sections</h6>
		</div>
	</a>
</div>
<style type="text/css">	
	body{
		background-color: #e7e8e8;
	}
</style>
<script type="text/javascript">
	<%if @current_visitor.progress == "2" %>
		$(document).ready(function() {
		    $('a#calculator').attr("href","<%=role_calculator_path(@current_role.name.gsub(" ","_"))%>").removeClass("locked");
		    $('.icon-lock').hide();
		    $('#calculator p').text("WOW! You can use calculator now");
		});
	<%end%>
</script>
