<style type="text/css">
body{
	background-color: #db0017;
}
</style>
<div class="intro">
	<h1>What is Fair Use?</h1>
	<p>
		To help you learn more about Fair Use, on this site, we have many fun activities to help you learn how you can use other people’s work to the fullest, and fairest, advantage! 
	</p>
	<p>
		For example, we help to bring these issues to life by using examples from legal cases where an issue of Fair Use arose. Each of the legal cases are divided into 6 separate sections to allow you to understand Fair Use better.
	</p>
	<div class="aspect">
		<ul class="nav nav-tabs" id="aspects">
			<li class="active"><a href="#about">ABOUT FAIR USE</a></li>
		  	<li><a href="#purpose">PURPOSE</a></li>
		  	<li><a href="#character">CHARACTER</a></li>
		  	<li><a href="#use">USE</a></li>
		  	<li><a href="#nature">NATURE</a></li>
		  	<li><a href="#amount">AMOUNT</a></li>
		  	<li><a href="#financial">MARKET</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane" id="about">
					<h3>About Fair Use</h3>
					<h4>What is fair use mean?</h4>
					<p>
						To help you learn more about Fair Use, on this site, we have many fun activities to help you learn how you can use other people’s work to the fullest, and fairest, advantage!
						For example, we help to bring these issues to life by using examples from legal cases where an issue of Fair Use arose. Each of the legal cases are divided into 6 separate sections to allow you to understand Fair Use better.
					</p>
				</div>
			<%@aspects.each do |aspect|%>
				<div class="tab-pane" id="<%=aspect.name.downcase%>">
					<h3><%=aspect.name%></h3>
					<h4><%=aspect.question.hint%></h4>
					<p><%=aspect.explanation%></p>
				</div>
			<%end%>
		</div>
	</div>
	<button href="" id="quiz-button">TAKE A QUIZ</button>
	<div class="quiz-area row">
		<h2>Quiz</h2>
		<h4>If your struggle, use the cheat sheet above ;)</h4>
		<div class="wrapper">	
			<%@quiz_questions.each do |quiz_question|%>
				<div class="span6">
					<h5><%=quiz_question.content%></h5>
					<%quiz_question.answers.each do |answer|%>
						<%= radio_button_tag( "question#{quiz_question.id}", answer.value) %>
						<%= label_tag("question#{quiz_question.id}_#{answer.value}", answer.content) %>
						<a href="#" class="info" rel="tooltip" data-original-title="<%=answer.hint%>">
						Why?
						</a>
					</br>
					<%end%>				
				</div>
			<%end%>
		</div>
		<button disabled="true" href="" class="btn" id="result-btn">See Result</button>
	</div>
</div>
<script>
	$('#quiz-button').on('click',function(){
		$('.quiz-area').fadeIn();
	});

	$('input:radio').change(function(){
        var names = [];
        var allChecked = true;
        $('input:radio').each(function(){
            if(names.indexOf($(this).attr('name')) === -1) {
                names.push($(this).attr('name'));
            }
        });
        for(var i = 0, cnt = names.length; i < cnt; i++) {
            if(!$('input[name="' + names[i] + '"]').is(':checked')) {
                allChecked = false;
            }
        }
        if(allChecked) {
            $('#result-btn').removeAttr('disabled').css('background-color','red');
        }
    });
	$('#result-btn').on('click',function(){
		<%
			@current_visitor.quiz=true
			@current_visitor.save!
		%>
		$('label').css('color','black');
		$('.info').hide();

		$('input[type=radio]:checked').each(function(){
			if ($(this).val() == 1){$(this).next().css('color','green')}
			else {
				$(this).next().css('color','red')
				$(this).siblings('input[value=1]').each(function(){
					$(this).next().css('color','green').next().show();
				});
			}			
		});
	});
	$('.tab-content').find('.tab-pane').eq(0).addClass('active');
	$('#aspects a').click(function (e) {
	  e.preventDefault();	
	  $(this).tab('show');
	});
	 $(".info").tooltip();
</script>