<!DOCTYPE html>
<html>
<head>
  <title>Fair Use Tool</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="<%=home_path%>">Fair Use Tool</a>
        <div class="container nav-collapse">
          <ul class="nav">
            <li><%= link_to "HOME", @current_visitor.role.nil? ? home_path : role_path(@current_visitor.role.name.gsub(" ","_"))%></li>            
            <li><%= link_to "WHAT IS FAIR USE", wfu_path  %></li>
            <li><%= link_to "CHECK YOUR WORK", calculator_path  %></li>
            <li><%= link_to "LEARN MORE", "/LearnMore"  %></li>
            <li><%= link_to "ABOUT", "/About"  %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container -->
    </div><!--/.navbar-inner -->
  </div><!--/.navbar -->
  <div id= "main" class="container">
		<%= yield %>
	</div>
  <footer>
    <p>
      Unless otherwise noted this site and its contents are licensed under a creative commons attrubution 3.0 Unported license.
    </p>
  </footer>
</body>
</html>
